/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bree Serif', serif;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0e0e0e;
}

.fire{
    position: relative;
    width: 100%;
    text-align: center;
    filter: url(#fire);
}

.fire h2{
    position: relative;
    color: #ffeb3b;
    font-weight: 600;
    font-size: 16rem;
    -webkit-box-reflect: below -120px linear-gradient(transparent, #0008);
    text-shadow: 0 0 10px #ff8c3b,
                 0 0 40px #ff8c3b,
                 0 0 80px #ff8c3b,
                 0 0 160px #ff8c3b,
                 0 0 240px #ff8c3b;
}

svg{
    width: 0;
    height: 0;
}